
<!DOCTYPE html>
<html lang="en">
<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        margin: 100px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #F1F1F1;
    }

    .card-img {
        width: 200px;
        height: auto;
    }

   .card:hover {
        background-color: white;
     }

    .card-link {
        text-decoration: none; /* Remove underline */
    }

</style>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Vote</title>    
</head>
<body>
<h1 style="text-align:center">Cast Your Vote</h1>


<div class="card-container">
        <a class=card-link asp-area="" asp-controller="Home" asp-action="ThankYou" asp-route-party="Blue">
        <div class="card">
            <img src="~/images/blueParty.jpg" alt="Blue Party" class="card-img">
            <h2>Blue Party</h2>
        </div>
    </a>

    <a class=card-link asp-area="" asp-controller="Home" asp-action="ThankYou" asp-route-party="Red">
        <div class="card">
                <img src="~/images/redParty.jpg" alt="Red Party" class="card-img">
                <h2>Red Party</h2>
        </div>
    </a>

        <a class=card-link asp-area="" asp-controller="Home" asp-action="ThankYou" asp-route-party="Green">
        <div class="card">
            <img src="~/images/greenParty.jpg" alt="Green Party" class="card-img">
            <h2>Green Party</h2>
        </div>
    </a>

</div>
</body>

